.Certificatemain{
    padding: 25px;
    background-image: url("/CertificatesBG3.jpeg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.cerDet{
  background-image: url("/CertificatesBG2.jpeg");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Cerdetails{
  padding: 70px;
}

.certificate-card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #fff;
    border: 2px solid purple;
    padding: 10px;
    border-radius: 30px;
  }

  .certificate-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }
  
  .certificate-card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .certificate-card-body {
    padding: 20px;
  }
  
  .certificate-card-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
  }
  
  .certificate-card-btn {
    display: inline-block;
    border: 2px solid #b90fc8;
    background: #b50dfd;

    border-radius: 25px;
    padding: 6px 18px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
  }
  
  .certificate-card-btn:hover {
    background: linear-gradient(to right ,rgb(194, 86, 245)  ,white,rgb(230, 95, 235));
    color: rgb(0, 0, 0);
  }

  .Cerdetails h2,h3,p{
    margin-top: 30px;
  }

  @media (max-width :700px) {
    .Cerdetails{
      padding: 10px !important;
      padding-top: 30px !important;
    }

    .Cerdetails h1{
      font-size: 35px !important;
    }
    .cerDet{
      background-image:url("/CertificatesBG1.jpeg");
      width: 100%;
      height: auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }

  }
  @media (max-width :1000px) {
    .Certificatemain .row{
      align-items: center;
    }
    .Certificatemain .row h5{
      font-size: large !important;
    }
  }
  