.footer {
    background: linear-gradient(to left, rgb(57, 2, 93),rgb(116, 3, 124), rgb(68, 3, 111));
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .nav-icon-footer {
    display: inline-block;
    transform: scale(2.0); 
    transform-origin: center;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    filter: brightness(0) invert(1);
  }

  .footer-section {
    flex: 1;
    min-width: 230px;
  }
  
  .footer-section h4 {
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .footer-section p,
  .footer-section .nav-link {
    color: white !important;
    font-size: 16px;
    margin: 6px 0;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .footer-section .nav-link:hover {
    transform: translateX(6px);
    color: rgb(252, 55, 62) !important;
  }
  
  /* Logo */
  .footer-logo {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .logo-social .tagline {
    color: white;
    font-size: 15px;
    margin-top: 5px;
  }
  
  /* Social Icons */
  .social-icons a {
    color: white;
    font-size: 22px;
    margin-right: 15px;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    color: rgb(252, 55, 62);
    transform: scale(1.2);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .footer {
      text-align: center;
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section p{
      min-width: 100%;
      font-size: 20px !important;

    }
  
    .social-icons a {
      margin-right: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .footer-section h4 {
      font-size: 20px;
    }
  
    .footer-section p,
    .footer-section .nav-link {
      font-size: 15px !important;
    }
  }
  